name: Format data

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: pip

      - name: Install Dependencies
        run: |
          sudo apt install -y libyaml-dev
          python -m pip install -r requirements.txt
          echo ""
          python -c "import yaml; print(f'libyaml enabled: {yaml.__with_libyaml__}')"
      - name: Format
        run: |
          python format.py
      - name: Auto-commit if having changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "CI: format data"
          branch: main
          commit_user_name: "GitHub Actions"
          commit_user_email: "actions@github.com"
          # commit_author: "GitHub Actions"
          skip_dirty_check: false
